.sidebar {
    background-color: rgb(224, 231, 231);
    
    color: white;
    height: 100vh;
    padding: 1rem;
    width: fit-content;
    min-width: 10vw;

    .list-item {
        margin: 1rem 0;
        color: black;
    }
}