.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 254, 250);
    align-items: center;
    height: 60px;
    padding: 0 20px;

    &__logo {
        h5 {
            color: black;
            font-weight: 300;
        }
    }

    .button {
        background-color: white;

    }


}